@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --main_background_color : #f4f4f4 ;
    --panel_background_color : #F4F4F4 ;
    --panel_textbox : #F4F4F4 ;
    --shadow_grey : 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
    --shadow_grey_onfocus: 0px 0px 15px -3px rgba(93, 88, 185, 0.3);
    
    --panel_button_blue : #5393F1;
    --panel_button_blue_onhover : #0067ff;
    --neon_blue_onhover :  0px 3px 19px 2px rgba(0, 40, 255, 0.2);
    --Logo_grey : #424954;
    --Logo_accent : #5BF158;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.p5Canvas{
    position: absolute;
    z-index: -10;
}

.main_style{
    min-height: 100vh;
    background-color: var(--main_background_color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Panel_class{
    background: var(--panel_background_color);
    min-height: clamp(400px,80vh,80vh);
    width: clamp(300px, 60vw,60vw);
    box-shadow: var(--shadow_grey);
    border-radius: 20px;
}

.Panel_class {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
    align-content: center;
    padding-bottom: 30px;
}

.playerCardsCarrousel{
    display: flex;
    height: 370px;
    width: clamp(301px, 59vw,59vw);
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.playerCard{
    height: 240px;
    width: 200px;
    background: #4E5868;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    margin: 20px;
}

.playerCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.playerCard:hover{
    box-shadow: 0px 5px 20px 2px rgb(20 106 243 / 49%);
    transition: ease-out 0.3s;
}


img.playerImage {
    border-radius: 15px;
    height: 100px;
    filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.25));
}

.playersCardName{
    text-align: center;
    border: none;
    border-radius: 4px;
    color: rgb(223,223,223);
}

.Logo_class{
    max-width: 180px; 
    height: auto;
    align-self: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.Logo_class:hover{
    opacity: 0.8;
    transition: ease-out 0.3s;
}

.TextBox_class{
    background: var(--panel_textbox);
    box-shadow: var(--shadow_grey);
    border : none;
    border-radius: 7px;
    height: 40px;
    width: fit-content;
    padding-left: 2%;
    padding-right: 10%;
    transition: ease-out 0.2s;
    color: rgb(115 115 115 / 71%);
}

.TextBox_class:focus{
    border-color: var(--panel_button_blue);
    outline: 0;
    caret-color: var(--panel_button_blue);
    color: rgba(115, 115, 115, 0.832);
    box-shadow: var(--shadow_grey_onfocus);
}  

.TextBox_class:hover{
    box-shadow: var(--shadow_grey_onfocus);
}

.Panel_buttons_div_class{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Lobby_buttons_div_class{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.Buttons_class{
    background: var(--panel_button_blue);
    box-shadow:var(--shadow_grey);
    border-radius: 7px;
    border : none;
    height : 40px;
    width: fit-content;

    padding-inline: 15px;

    cursor : pointer;
    color: var(--panel_background_color);

    transition: ease-out 0.2s;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}

.Buttons_class:hover{
    background: var(--panel_button_blue_onhover);
    box-shadow: var(--neon_blue_onhover);

}


*::-webkit-scrollbar {
    width : 4px;
}
*::-webkit-scrollbar-thumb{
    background:rgb(87 107 138 / 58%);
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover{
    background:rgba(87, 107, 138, 0.73);
    border-radius: 2px;
}